*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boton-ver-mas {/*Diseño del botón*/
    background-color: #444EBB;
    border: none;
    color: white;
    margin-bottom: 15px;
    margin-top: auto;
    padding: 8px 16px;
}

.icono-corazon {
    justify-content: flex-start;
    position: absolute;
}

main {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px; /* Añadir un poco de espacio a los lados */
}

.imagen-perfil {/*Diseño imagenes de perfil de las cajas*/
    align-self: center; /* Alinear la imagen de perfil en el centro vertical */
    background-color: white;
    border-radius: 70%;
    height: 100px;
    margin-top: 80px;
    width: 100px;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0; /* Añadir margen arriba y abajo */
}

.card-batman, .card-mujermaravilla, .card-superman, .card-harleyquinn{/* Diseño de las tarjetas de los heroes */
    background-color: rgba(240, 237, 236, 0.5);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 2px 0px rgba(202, 199, 198, 0.5);
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 10px; /* Añadir un pequeño margen entre las tarjetas */
    max-width: 100%; /* Asegurarse de que la imagen no se desborde */
    width: 20%;
}

.card-batman{
    background-image: url('../img/FondoBatman.png');
}

.card-mujermaravilla{
    background-image: url('../img/FondoMaravilla.png');
}

.card-superman{
    background-image: url('../img/FondoSuperman.png');
}

.card-harleyquinn{
    background-image: url('../img/FondoHarley.png');
}

.logo-container {
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    background-color: #00669F; /* Color de fondo azul */
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    padding: 10px; /* Añade espacio interno al contenedor */
}
.logo-container img {
    height: auto;
    margin-right: 10px; /* Espaciado a la derecha del logotipo */
    width: 50px; /* Ancho del logotipo */
}

/* Estilos para el título principal */
.logo-container h1 {
    color: #FFF; /* Color del texto */
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin: 0; /* Elimina el margen predeterminado del título */
    padding: 0; /* Elimina el espaciado interno predeterminado del título */
}

/* Resto de estilos para el encabezado */
header h2.descuento {
    background-color: #1CD1B0;;
    color: #0D1606;
    display: flex;
    font-size: small;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 5px 0;
}

#contacto {
    align-items: center; /* Centrar verticalmente los elementos dentro del div */
    background: #001D2D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex; /* Usamos flexbox para centrar verticalmente */
    flex-shrink: 0;
    height: 40px;
    justify-content: flex-end; /* Alinear los elementos a la derecha */
    width: 100%; /* Cambiamos el ancho a 100% para ocupar todo el ancho del encabezado */
}

ul {
    list-style: none; /* Eliminar las viñetas de la lista */
    padding: 0;
    margin: 0;
}

li {
    display: inline-block; /* Hace que los elementos de la lista estén en línea */
    margin-right: 20px; /* Espacio entre las opciones */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Color del texto */
}

article {
    align-items: center; /* Centrar horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Para que las tarjetas tengan altura total */
    text-align: center; /* Centrar el texto */
}

p{
    font-family: Arial, sans-serif; /* Establecer la fuente de letra */
    font-size: 14px; /* Establecer el tamaño de letra */
    margin-top: 10px;
    text-align: justify; /* Alinear el texto de los párrafos */
}

.names{
    font-size: 20px; /* Ajustar el tamaño de la letra */
    text-transform: uppercase; /* Cambiar el texto a mayúsculas */
}

footer {/* Añadir diseño al footer */
    align-items: center;
    background-color: #444EBB;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

footer span:first-child {
    color: white;
    flex: 1; /* Ocupar el espacio disponible */
}

footer span:last-child {
    color: white; /* Color blanco para el segundo span */
    font-size: 25px; /* Tamaño de fuente más grande para el segundo texto */
    margin-left: auto;
}

.boton-mas {
    align-items: center;
    background-color: blue;
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    color: white;
    display: flex;
    font-size: 24px;
    height: 36px;
    justify-content: center;
    position: fixed; /* Dejarlo fijo */
    right: 10px;
    width: 36px;
}

#main-formulario{
    margin-top: 25px; /* Margen superior de 15px */
    margin-bottom: 25px; /* Margen inferior de 15px */
}

.formulario{
    background: #00669F;
    border-radius: 49.09px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.30);
    flex-shrink: 0;
    height: 700px;
    width: 900px;
}

h3{
    color: #FBFFFD;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

legend{
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.items {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left; /* Alinea los nombres a la izquierda */
}

.fila{
    display: flex; /* Utiliza flexbox para alinear elementos en la misma fila */
}

.columna {
    box-sizing: border-box; /* Incluye el espaciado interno en el ancho de la columna */
    flex: 1; /* Distribuye el espacio disponible de manera equitativa entre las columnas */
    padding: 10px; /* Añade un espaciado interno para separar los elementos */
    text-align: center; /* Centra el contenido horizontalmente */
}

.casilla{
    background: #FFF;
    border: 1.534px solid rgba(0, 0, 0, 0.10);
    border-radius: 15.341px;
    flex-shrink: 0;
    height: 45px;
    width: 343px;
}

#descripcion{
    background: #FFF;
    border: 1.534px solid rgba(0, 0, 0, 0.10);
    border-radius: 15.341px;
    height: 250px;
    flex-shrink: 0;
    width: 343px;
}

#boton{
    background: #1CD1B0;
    border: none;
    border-radius: 23.011px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    flex-shrink: 0;
    height: 70px;
    text-align: center;
    width: 400px;
}

#div-boton{
    display: flex;
    justify-content: center; /* Alinea el contenido al centro horizontalmente */
    margin-top: 20px; /* Agrega margen superior para separar el botón del contenido anterior */
}

.checkbox-label {
    color: #FFF;
    font-family: 'Karla', sans-serif; /* Aplicar la fuente personalizada Karla */
    text-align: left; /* Alinea las opciones de checkbox a la izquierda */
}

.radio-options {
    color: #FFF;
    font-family: 'Karla', sans-serif; /* Aplicar la fuente personalizada Karla */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-align: left; /* Alinea las opciones de radio a la derecha */
}

.checkbox-label {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 5px;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
    margin-left: 50px;
}

.grid-item {
    margin-top: 10px; /* Espaciado superior entre elementos */
}

svg {
    fill: none; /* No rellenar el elemento SVG */
    height: 2px; /* Altura de la línea en píxeles */
    width: 70%; 
}

@media (max-width: 800px) {
    .container {
        align-items: flex-start;
        justify-content: space-between;
        margin: 20px 0; /* Añadir margen arriba y abajo */
    }

    .card-batman, .card-mujermaravilla, .card-superman, .card-harleyquinn {
        max-width: 100%; /* Asegurarse de que la imagen no se desborde */
        width: 45%; /* Cambiar el ancho de las tarjetas para mostrar dos por fila */
    }

    .boton-mas {
        top: 45%;
    }
}


@media (max-width: 450px) { 
    .container {
        align-items: center;
        flex-direction: column;
    }

    .card-batman, .card-mujermaravilla, .card-superman, .card-harleyquinn {
        height: 90%;
        width: 50%; /* Cambiar el ancho de las tarjetas para mostrar todas en una columna */
    }

    .boton-mas {
        top: 50%;
    }
}